@page "/enrollmentform"
@using Assignment.Model;

<h3>Enrollment Information</h3>

@if (isFormSubmitted)
{
    <p>Form submitted successfully!</p>
}
else
{
    <form @onsubmit="SubmitForm">
        <div class="form-group">
            <label for="eid">Enrollment ID:</label>
            <input type="text" id="eid" @bind="enrollment.eid" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="cid">Class ID:</label>
            <input type="number" id="cid" @bind="enrollment.cid" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="sid">Student ID:</label>
            <input type="number" id="sid" @bind="enrollment.sid" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}

@code {
    private Enrollment enrollment = new Enrollment();
    private bool isFormSubmitted = false;

    private void SubmitForm()
    {
       
        isFormSubmitted = true;
    }
}
